In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# 读取rank.json
with open('rank.json', 'r') as f:
    rank = json.load(f)
node2vec=rank['node2vec']
deepwalk=rank['deepwalk']
line=rank['line']
len(line)

3428

In [2]:
v1=json.load(open('../../../mc1_vis_system/public/MC1.json'))
nodes_df=pd.DataFrame(v1['nodes'])
links_df=pd.DataFrame(v1['links'])

In [8]:
top50_line=line[:50]
top50_deepwalk=deepwalk[:50]
top50_node2vec=node2vec[:50]

In [11]:
top50_line_nodes=nodes_df.iloc[top50_line]
top50_line_nodes

,type,dataset,country,id
464,NaN,MC1,NaN,œUkï
466,NaN,MC1,NaN,œmç¢kï
3409,NaN,MC1,NaN,Dolphin Dreams S.A. de C.V. Seafood
2598,person,MC1,Country_271835,Jason Garcia
465,NaN,MC1,NaN,œmï¿œdï
2599,person,MC1,Country_670336,Melissa Gonzalez
1381,person,MC1,Country_271835,Carrie Elliott
1528,NaN,MC1,NaN,âTheoretically
570,organization,MC1,NaN,47249
19,organization,MC1,NaN,128692
463,NaN,MC1,NaN,œVï
1492,person,MC1,Oceanus,Richard Bowers
208,organization,MC1,NaN,68703341
1258,person,MC1,Country_271835,Jennifer Thompson
2225,NaN,MC1,NaN,Covid
884,person,MC1,Ivarisia,Bruce Brooks
2855,location,MC1,NaN,17de5508-cf65-4e04-9bdd-acba951afe7a
2334,location,MC1,NaN,f810c631-9f7d-4219-ade0-b44c4c9abf62
1453,person,MC1,Country_271835,Brian Stevens
2326,political_organization,MC1,NaN,17232
1164,person,MC1,Country_271835,Philip Black
883,person,MC1,Country_271835,Amanda Andrews
257,organization,MC1,NaN,85052185
1284,person,MC1,Country_271835,Joseph Newman
2762,person,MC1,Rio Isla,Tom Bauer
572,political_organization,MC1,NaN,621
509,organization,MC1,NaN,13015105
2571,organization,MC1,NaN,2430986
462,NaN,MC1,NaN,œx
2618,person,MC1,Country_271835,Miranda Smith
2368,organization,MC1,NaN,518323906
808,person,MC1,Country_271835,Holly Taylor
384,organization,MC1,NaN,83818120
3129,NaN,MC1,NaN,Fisherman'sFriend Charter Boat S.A. de C.V. Fr...
95,location,MC1,NaN,405ab2a5-68f0-4304-ab94-24c7995a248e
2436,organization,MC1,NaN,139
3391,NaN,MC1,NaN,Costa de Coral Charter Boat Oyj Overseas
547,location,MC1,NaN,c1aeee2d-0030-4d85-b45c-ac3fd9887b98
1553,person,MC1,Country_271835,Bradley Murphy
2839,person,MC1,Country_271835,Eric Roman
2092,NaN,MC1,NaN,âlaughableâ
1645,organization,MC1,NaN,203
1931,organization,MC1,NaN,730397695
3341,NaN,MC1,NaN,Savaneta Corporation Marine life
2670,organization,MC1,NaN,96049794
1761,political_organization,MC1,NaN,519443204
558,person,MC1,Uzimoria,Andres Cook
1053,organization,MC1,NaN,7234
2569,company,MC1,Country_271835,Gambia River GmbH & Co. KG and
1368,NaN,MC1,NaN,United Statesâ

In [4]:
suspicious=["8327","979893388","Mar de la Vida OJSC","Oceanfront Oasis Inc Carriers"]
nodes_df[nodes_df['id'].isin(suspicious)]

              type dataset country                             id
386   organization     MC1     NaN                           8327
901   organization     MC1     NaN                      979893388
3172           NaN     MC1     NaN  Oceanfront Oasis Inc Carriers
3177           NaN     MC1     NaN            Mar de la Vida OJSC

In [12]:
top50_deepwalk_nodes=nodes_df.iloc[top50_deepwalk]
top50_deepwalk_nodes

,type,dataset,country,id
1496,organization,MC1,NaN,47698
292,NaN,MC1,NaN,189
2758,person,MC1,Country_271835,Robert Chang
2313,person,MC1,Country_753331,Cody Baird
773,location,MC1,NaN,23550059-88d4-4a69-b74e-3c7de8bf56de
2187,organization,MC1,NaN,4332001
2201,company,MC1,Polarisdom,Estrella del Mar Inc Merchants
480,organization,MC1,NaN,2056
1106,organization,MC1,NaN,6274
2194,person,MC1,Oceanus,Sean Wilson
3406,NaN,MC1,NaN,IndÃºstria Madeireira Uliana
1748,organization,MC1,NaN,95743666
2112,organization,MC1,NaN,2362
2659,organization,MC1,NaN,51470600
1582,organization,MC1,NaN,428
2232,political_organization,MC1,NaN,71084
3255,NaN,MC1,NaN,Four
1729,person,MC1,Country_271835,Robert Goodman
2514,person,MC1,Country_746165,Timothy Hampton
2408,NaN,MC1,NaN,siladityaray
3001,organization,MC1,NaN,5334
2186,NaN,MC1,NaN,Attorneysâ
2790,person,MC1,Marebak,Maria Jackson
1617,organization,MC1,NaN,41713
1136,location,MC1,NaN,1f899410-3447-48e7-bcb3-cbff10619e86
16,organization,MC1,NaN,853949688
1077,organization,MC1,NaN,70347729
2420,political_organization,MC1,NaN,6352
2600,company,MC1,Country_246944,Pregolya Delivery Cruise ship
1578,organization,MC1,NaN,779
2683,person,MC1,Country_271835,Marvin Evans
2573,organization,MC1,NaN,92533
1517,event,MC1,NaN,âcatch
33,person,MC1,Country_271835,Lisa Clay
3385,NaN,MC1,NaN,Logistics
1804,person,MC1,Country_712875,Wendy Miller
29,NaN,MC1,NaN,âregularâ
3407,NaN,MC1,NaN,Sms
544,person,MC1,Quandoria,Miss Jessica Baker DVM
2715,location,MC1,NaN,b400d237-4d56-4de8-917a-8e7654ccf315
3021,organization,MC1,NaN,36868
905,person,MC1,Country_204272,David Larsen
2418,organization,MC1,NaN,45620
1476,person,MC1,Mawazam,Rhonda Sullivan
296,organization,MC1,NaN,5705060
546,location,MC1,NaN,4b6a1701-93c3-403c-bd2f-9684106e8bba
3399,NaN,MC1,NaN,Ronald
2409,political_organization,MC1,NaN,82517
2774,organization,MC1,NaN,24996
1483,NaN,MC1,NaN,th

In [13]:
top50_node2vec_nodes=nodes_df.iloc[top50_node2vec]
top50_node2vec_nodes

,type,dataset,country,id
1844,organization,MC1,NaN,2278
132,organization,MC1,NaN,8698
853,person,MC1,Country_271835,Christine Jones
2791,person,MC1,Country_271835,Deborah Carson
694,organization,MC1,NaN,662118
929,NaN,MC1,NaN,GalÃ
150,organization,MC1,NaN,71835024
1916,organization,MC1,NaN,40676
2709,political_organization,MC1,NaN,54056
1850,NaN,MC1,NaN,MCDP
588,organization,MC1,NaN,522017227
2865,person,MC1,Country_271835,Colin Hunter
1483,NaN,MC1,NaN,th
1752,company,MC1,Country_322527,Diao yu bi sai Tidal BV Export
1737,movement,MC1,NaN,Greenwich
2012,person,MC1,Country_271835,Michael Frederick
861,person,MC1,Country_271835,Robert Adams
2497,location,MC1,NaN,f383ad5f-7949-495e-8427-556b64decaca
3285,NaN,MC1,NaN,Costa del Mar S.p.A.
1407,organization,MC1,NaN,900
2875,person,MC1,Country_271835,Randall Martinez
3295,NaN,MC1,NaN,Food
1090,person,MC1,Country_271835,Jenna Barton
387,organization,MC1,NaN,222848436
411,organization,MC1,NaN,761
2451,political_organization,MC1,NaN,413760
916,vessel,MC1,NaN,cutter James
288,person,MC1,Country_271835,Ashley Wiggins
1470,person,MC1,Country_271835,Paul Parker
1482,organization,MC1,NaN,683113035
906,political_organization,MC1,NaN,706129
1295,vessel,MC1,NaN,Coast Guard Cutter Edgar Culbertson
3192,NaN,MC1,NaN,Conduct Joint
316,organization,MC1,NaN,4783
1652,vessel,MC1,NaN,Boston
759,organization,MC1,NaN,7529
1656,location,MC1,NaN,950ce1a6-a178-4e3e-9316-91ab7ca88664
2320,organization,MC1,NaN,29167335
3287,NaN,MC1,NaN,Mount Kenya Estuary Sp Holdings
3073,person,MC1,Country_271835,Alexis Smith
600,person,MC1,Country_271835,Tyler Brown
2979,organization,MC1,NaN,43797101
3373,NaN,MC1,NaN,Evergreen
2900,person,MC1,Country_271835,Brett Lee
3215,NaN,MC1,NaN,Salles Operation Handroanthus
1475,organization,MC1,NaN,48115
3267,NaN,MC1,NaN,Thomas Corp Cargo ship
866,organization,MC1,NaN,7908385
1334,person,MC1,Country_271835,Scott Wallace
3158,NaN,MC1,NaN,âVirginia

In [15]:
top50_node2vec_nodes.to_csv('top50_node2vec.csv')
top50_deepwalk_nodes.to_csv('top50_deepwalk.csv')
top50_line_nodes.to_csv('top50_line.csv')

In [6]:
with open('new_rank.json', 'r') as f:
    rank = json.load(f)
nnode2vec=rank['node2vec']
ndeepwalk=rank['deepwalk']
nline=rank['line']
len(nline)

3428

In [5]:
suspicious=["8327","979893388","Mar de la Vida OJSC","Oceanfront Oasis Inc Carriers"]
susp_nodes_df=nodes_df[nodes_df['id'].isin(suspicious)]
susp_idx=susp_nodes_df.index.tolist()
susp_idx

[386, 901, 3172, 3177]

In [9]:
for i in range(4):
    print(nline.index(susp_idx[i]),ndeepwalk.index(susp_idx[i]),nnode2vec.index(susp_idx[i]))

1335 2976 2290
1927 3370 3392
3331 2615 501
1664 1777 2669

In [7]:
top50_nline=nline[:50]
top50_ndeepwalk=ndeepwalk[:50]
top50_nnode2vec=nnode2vec[:50]
top50_nline_nodes=nodes_df.iloc[top50_nline]
top50_ndeepwalk_nodes=nodes_df.iloc[top50_ndeepwalk]
top50_nnode2vec_nodes=nodes_df.iloc[top50_nnode2vec]

In [8]:
top50_nnode2vec_nodes.to_csv('nnnode2vec.csv')
top50_ndeepwalk_nodes.to_csv('nndeepwalk.csv')
top50_nline_nodes.to_csv('nline.csv')