In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import networkx as nx

In [3]:
v1=json.load(open('../../mc1_vis_system/public/MC1.json'))
nodes_df=pd.DataFrame(v1['nodes'])
links_df=pd.DataFrame(v1['links'])

In [4]:
nodes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3428 entries, 0 to 3427
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   type     2823 non-null   object
 1   dataset  3428 non-null   object
 2   country  1112 non-null   object
 3   id       3428 non-null   object
dtypes: object(4)
memory usage: 107.2+ KB

In [5]:
countries=nodes_df[(nodes_df['country'].isnull()==False)]
print(len(countries['country'].unique()))
countries

117

         type dataset         country                          id
0     company     MC1        Nalakond    Spanish Shrimp  Carriers
7     company     MC1        Rio Isla  Faroe Islands Shrimp Shark
13     person     MC1  Country_271835             William Bradley
14     person     MC1  Country_271835              Joseph Griffin
21     person     MC1  Country_789455              Jacob Caldwell
...       ...     ...             ...                         ...
3107   person     MC1  Country_271835               Laura Ballard
3111   person     MC1  Country_271835              Sarah Sandoval
3112   person     MC1  Country_271835              Raymond Howell
3113   person     MC1  Country_271835                  Jason Huff
3115  company     MC1  Country_286580      AquaFresh Foods CJSC -

[1112 rows x 4 columns]

In [6]:
nodes_df['type'].value_counts()

type
person                    1022
organization               987
location                   393
political_organization     121
vessel                     115
company                     90
event                       74
movement                    21
Name: count, dtype: int64

In [7]:
movements=nodes_df[(nodes_df['type']=='movement')]
movements

          type dataset country           id
123   movement     MC1     NaN        hours
227   movement     MC1     NaN       months
390   movement     MC1     NaN        weeks
554   movement     MC1     NaN  conjunction
712   movement     MC1     NaN       normal
805   movement     MC1     NaN         days
1003  movement     MC1     NaN     Saturday
1040  movement     MC1     NaN        three
1202  movement     MC1     NaN       metric
1296  movement     MC1     NaN        dup38
1513  movement     MC1     NaN    14 months
1558  movement     MC1     NaN     ordinary
1737  movement     MC1     NaN    Greenwich
1939  movement     MC1     NaN       ninety
2319  movement     MC1     NaN       60-day
2545  movement     MC1     NaN     In month
2705  movement     MC1     NaN      30 days
2769  movement     MC1     NaN   three-hour
2994  movement     MC1     NaN  thirty days
3052  movement     MC1     NaN         2028
3060  movement     MC1     NaN    July 2036

In [8]:
country_cnt=countries.groupby('type')['country'].value_counts()
per_cnt=country_cnt['person'].sort_values(ascending=False)
com_cnt=country_cnt['company'].sort_values(ascending=False)
print(per_cnt)

country
Country_271835    811
Oceanus            39
Marebak            11
Country_789455      6
Oceanterra          5
                 ...
Country_461742      1
Country_167470      1
Country_449947      1
Country_443882      1
Country_54147       1
Name: count, Length: 103, dtype: int64

查看国家之间连接情况

In [9]:
links_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11069 entries, 0 to 11068
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         11069 non-null  object
 1   weight       11068 non-null  float64
 2   dataset      11069 non-null  object
 3   source       11069 non-null  object
 4   target       11069 non-null  object
 5   key          11069 non-null  int64
 6   weightlcoat  1 non-null      float64
dtypes: float64(2), int64(1), object(4)
memory usage: 605.5+ KB

In [10]:
merged_info=pd.read_csv('./merged_info.csv')
merged_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11069 entries, 0 to 11068
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      11069 non-null  int64
 1   link_type       11069 non-null  object
 2   weight          11068 non-null  float64
 3   dataset_x       11069 non-null  object
 4   source          11069 non-null  object
 5   target          11069 non-null  object
 6   key             11069 non-null  int64
 7   source_type     11069 non-null  object
 8   source_country  3003 non-null   object
 9   target_type     11069 non-null  object
 10  target_country  3547 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 951.4+ KB

In [11]:
not_confident=merged_info[(merged_info['weight']<0.5)]
print(not_confident['link_type'].value_counts())
print(not_confident['source'].value_counts())

link_type
ownership              40
membership             11
family_relationship     6
partnership             2
Name: count, dtype: int64
source
FishEye International                      12
40213337                                    4
Daniel Henderson                            4
59                                          3
Joseph Smith                                2
464454263                                   2
3896                                        2
Darin Torres                                2
Sea Products                                2
Federated                                   2
21538                                       1
55674                                       1
l y S.A. de C.V. International              1
923825740                                   1
Ht Shipping                                 1
American                                    1
Kerala Market Corp Consulting               1
Seabreeze Foods Ltd. Corporation United     1
Madhya Pradesh Market BV                    1
52193                                       1
Kevin Morris                                1
1354                                        1
1560                                        1
Tracy Rogers                                1
Breanna Welch DDS                           1
Dr. Gregory Rice                            1
Traci Shields                               1
81                                          1
958085                                      1
544344                                      1
Mar del Oeste Pic                           1
png xi  Line                                1
924                                         1
Yu gan BV Investment                        1
Name: count, dtype: int64

In [12]:
FishNot=not_confident[not_confident['source']=='FishEye International']
FishNot

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
9683,9683,membership,0.4758,MC1,FishEye International,58623386,0,organization,NaN,organization,NaN
9684,9684,membership,0.1315,MC1,FishEye International,Seabreeze Foods Ltd. Corporation United,0,organization,NaN,unknown,NaN
9685,9685,membership,0.4487,MC1,FishEye International,83,0,organization,NaN,organization,NaN
9688,9688,membership,0.4604,MC1,FishEye International,Mar de la Vida OJSC,0,organization,NaN,unknown,NaN
9689,9689,membership,0.4789,MC1,FishEye International,8814,0,organization,NaN,organization,NaN
9690,9690,ownership,0.4353,MC1,FishEye International,903311212,0,organization,NaN,organization,NaN
9691,9691,membership,0.1874,MC1,FishEye International,Lake Mweru A/S Carriers,0,organization,NaN,unknown,NaN
9696,9696,membership,0.4386,MC1,FishEye International,Welding,0,organization,NaN,unknown,NaN
9698,9698,membership,0.2507,MC1,FishEye International,Congo Rapids Marine sanctuary GmbH & Co. KG M...,0,organization,NaN,company,Country_271835
9699,9699,membership,0.4922,MC1,FishEye International,Conduct Joint,0,organization,NaN,unknown,NaN
9700,9700,membership,0.2374,MC1,FishEye International,âGenev,0,organization,NaN,unknown,NaN
9704,9704,membership,0.4461,MC1,FishEye International,Oceanfront Oasis Inc Carriers,0,organization,NaN,unknown,NaN

In [13]:
FishEye=merged_info[(merged_info['source']=='FishEye International')]
FishEye=FishEye[(FishEye['weight']<0.5)]
FishEye

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
9683,9683,membership,0.4758,MC1,FishEye International,58623386,0,organization,NaN,organization,NaN
9684,9684,membership,0.1315,MC1,FishEye International,Seabreeze Foods Ltd. Corporation United,0,organization,NaN,unknown,NaN
9685,9685,membership,0.4487,MC1,FishEye International,83,0,organization,NaN,organization,NaN
9688,9688,membership,0.4604,MC1,FishEye International,Mar de la Vida OJSC,0,organization,NaN,unknown,NaN
9689,9689,membership,0.4789,MC1,FishEye International,8814,0,organization,NaN,organization,NaN
9690,9690,ownership,0.4353,MC1,FishEye International,903311212,0,organization,NaN,organization,NaN
9691,9691,membership,0.1874,MC1,FishEye International,Lake Mweru A/S Carriers,0,organization,NaN,unknown,NaN
9696,9696,membership,0.4386,MC1,FishEye International,Welding,0,organization,NaN,unknown,NaN
9698,9698,membership,0.2507,MC1,FishEye International,Congo Rapids Marine sanctuary GmbH & Co. KG M...,0,organization,NaN,company,Country_271835
9699,9699,membership,0.4922,MC1,FishEye International,Conduct Joint,0,organization,NaN,unknown,NaN
9700,9700,membership,0.2374,MC1,FishEye International,âGenev,0,organization,NaN,unknown,NaN
9704,9704,membership,0.4461,MC1,FishEye International,Oceanfront Oasis Inc Carriers,0,organization,NaN,unknown,NaN

In [14]:
# 人和船
person_vessel=merged_info[((merged_info['source_type']=='person')&(merged_info['target_type']=='vessel')&(merged_info['link_type']=='ownership'))
                          |(merged_info['source_type']=='vessel')&(merged_info['target_type']=='person')&(merged_info['link_type']=='ownership')]
person_vessel

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
757,757,ownership,0.819721,MC1,Marine,Amy Mcclure,0,vessel,NaN,person,Country_271835
758,758,ownership,0.839423,MC1,Marine,Jessica Mullins,0,vessel,NaN,person,Country_271835
759,759,ownership,0.818249,MC1,Marine,John Martin,0,vessel,NaN,person,Country_271835
3349,3349,ownership,0.935461,MC1,Dana Goodwin,19,0,person,Marebak,vessel,NaN
3354,3354,ownership,0.828149,MC1,Dana Goodwin,USCGC,0,person,Marebak,vessel,NaN
4135,4135,ownership,0.896064,MC1,salmon,George Ramirez,0,vessel,NaN,person,Country_271835
5387,5387,ownership,0.856383,MC1,ocean,Alan Wells,0,vessel,NaN,person,Marebak
5422,5422,ownership,0.916514,MC1,bottom,Madison Franklin,0,vessel,NaN,person,Country_271835
5700,5700,ownership,0.829022,MC1,Long Xing 629,Charles Hart,0,vessel,NaN,person,Country_271835
5701,5701,ownership,0.922454,MC1,Long Xing 629,Amanda Andrews,0,vessel,NaN,person,Country_271835
5888,5888,ownership,0.880115,MC1,Andre Phillips,USCGâs,0,person,Country_271835,vessel,NaN
5889,5889,ownership,0.845132,MC1,Andre Phillips,CutterOliverHenry,0,person,Country_271835,vessel,NaN
5892,5892,ownership,0.813915,MC1,USCGâs,Scott Solis,0,vessel,NaN,person,Country_271835
5916,5916,ownership,0.897492,MC1,SSN,Tyler Palmer,0,vessel,NaN,person,Country_271835
5917,5917,ownership,0.866285,MC1,HMAS,Michael Bullock,0,vessel,NaN,person,Country_271835
6613,6613,ownership,0.896293,MC1,Madison Franklin,bottom,0,person,Country_271835,vessel,NaN
6616,6616,ownership,0.976632,MC1,Madison Franklin,Rapido beam trawler,0,person,Country_271835,vessel,NaN
7140,7140,ownership,0.840488,MC1,Ships,Dana Montes,0,vessel,NaN,person,Country_271835
7590,7590,ownership,0.824237,MC1,Rebecca Caldwell,ocean,0,person,Oceanus,vessel,NaN
9119,9119,ownership,0.865155,MC1,dup23,Amanda Jenkins,0,vessel,NaN,person,Country_271835
9123,9123,ownership,0.836954,MC1,Sarah Williams,Kenworth 18-wheeler,0,person,Country_271835,vessel,NaN
9520,9520,ownership,0.896017,MC1,Christopher Cunningham,bottom,0,person,Oceanus,vessel,NaN

In [15]:
company_in=merged_info[(merged_info['source_type']=='company')]
company_out=merged_info[(merged_info['target_type']=='company')]
company=pd.concat([company_in,company_out])
company.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1650 entries, 0 to 11046
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1650 non-null   int64
 1   link_type       1650 non-null   object
 2   weight          1650 non-null   float64
 3   dataset_x       1650 non-null   object
 4   source          1650 non-null   object
 5   target          1650 non-null   object
 6   key             1650 non-null   int64
 7   source_type     1650 non-null   object
 8   source_country  1062 non-null   object
 9   target_type     1650 non-null   object
 10  target_country  1028 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 154.7+ KB

In [16]:
political_df=nodes_df[nodes_df['type']=='political_organization']
political_df

                        type dataset country        id
63    political_organization     MC1     NaN   6406040
67    political_organization     MC1     NaN  72371354
69    political_organization     MC1     NaN    766649
76    political_organization     MC1     NaN  85117949
78    political_organization     MC1     NaN    348079
...                      ...     ...     ...       ...
2943  political_organization     MC1     NaN  67745773
2984  political_organization     MC1     NaN  73470062
3002  political_organization     MC1     NaN     35679
3071  political_organization     MC1     NaN    687028
3099  political_organization     MC1     NaN   3190258

[121 rows x 4 columns]

### 流出情况
一共117个country
看这个link的指向到底有没有语义？

In [17]:
exp_country_links=merged_info.groupby('source_country')
print(len(exp_country_links))
source_flow={}
for i in exp_country_links:
    exp_cty,exp_df=i
    source_flow[exp_cty]=(exp_df['target_country'].value_counts().to_dict())
    source_flow[exp_cty]['country_num']=len(nodes_df[nodes_df['country']==exp_cty])
type(source_flow['Ariuzima'])

105

dict

In [18]:
# write the result to a json
with open('source_flow.json','w') as f:
    json.dump(source_flow,f)

有没有只和一个国家往来的或者只在本国内有往来的？

In [19]:
# 只在本国：
only_inside=[]
for i in source_flow.keys():
    src_cty=source_flow[i]
    for j in src_cty:
        tgt_cty=source_flow[i][j]
        if (i==j) and (len(src_cty)==1):
            only_inside.append(i)
only_inside

[]

In [20]:
# 只和一个国家有关系
only_one=[]
for i in source_flow.keys():
    src_cty=source_flow[i]
    for j in src_cty:
        tgt_cty=source_flow[i][j]
        if (i!=j) and (len(src_cty)==1) and (j!='unknown'):
            only_one.append((i,j))
print(len(only_one),only_one)

26 [('Ariuzima', 'country_num'), ('Country_11605', 'country_num'), ('Country_193919', 'country_num'), ('Country_214033', 'country_num'), ('Country_230197', 'country_num'), ('Country_256617', 'country_num'), ('Country_286580', 'country_num'), ('Country_323509', 'country_num'), ('Country_338740', 'country_num'), ('Country_358951', 'country_num'), ('Country_443882', 'country_num'), ('Country_470077', 'country_num'), ('Country_615819', 'country_num'), ('Country_753331', 'country_num'), ('Country_766259', 'country_num'), ('Country_928409', 'country_num'), ('Country_945731', 'country_num'), ('Country_980042', 'country_num'), ('Country_982684', 'country_num'), ('Country_984172', 'country_num'), ('Helixia', 'country_num'), ('Mawazam', 'country_num'), ('Merigrad', 'country_num'), ('Orvietea', 'country_num'), ('Quandarix', 'country_num'), ('Quandoria', 'country_num')]

In [21]:
suspicious_country_nodes=[]
# 国家只有一个东西但是贸易往来比较多
for i in source_flow.keys():
    src_cty=source_flow[i]
    if (src_cty['country_num']==1):
        if (len(src_cty)>2) and (i not in src_cty):
            suspicious_country_nodes.append(i)
        else:
            for j in src_cty:
                tgt_cty=source_flow[i][j]
                if tgt_cty>10:
                    suspicious_country_nodes.append(i)
suspicious_country_nodes

['Country_167470',
 'Country_247330',
 'Country_322527',
 'Country_342065',
 'Country_415128',
 'Country_449947',
 'Country_461742',
 'Country_542476',
 'Country_628643',
 'Country_697428',
 'Country_709784',
 'Country_729731',
 'Country_760479',
 'Country_800653',
 'Country_913963',
 'Country_948318',
 'Country_950691',
 'Luminsia',
 'Uzifrica',
 'Uzimoria',
 'Vesperanda',
 'Vesperlandia']

### 流入情况

In [22]:
in_country_links=merged_info.groupby('target_country')
print(len(in_country_links))
target_flow={}
for i in in_country_links:
    in_cty,in_df=i
    target_flow[in_cty]=(in_df['source_country'].value_counts().to_dict())

86

In [23]:
only_inside_in=[]
for i in target_flow.keys():
    tgt_cty=target_flow[i]
    for j in tgt_cty:
        src_cty=target_flow[i][j]
        if (i==j) and (len(tgt_cty)==1):
            only_inside_in.append(i)
only_inside_in

['Country_146155',
 'Country_821432',
 'Country_907876',
 'Rio Solovia',
 'Riodelsol',
 "Vesperand's Bay"]

In [24]:
only_one_in=[]
for i in target_flow.keys():
    tgt_cty=target_flow[i]
    for j in tgt_cty:
        src_cty=target_flow[i][j]
        if (i!=j) and (len(tgt_cty)==1) and (j!='unknown'):
            only_one_in.append((j,i))
print(len(only_one_in),only_one_in)

21 [('Country_907876', 'Country_11605'), ('Rio Isla', 'Country_167470'), ('Vesperlandia', 'Country_230197'), ('Country_19028', 'Country_242593'), ('Oceanus', 'Country_323509'), ('Country_628643', 'Country_342065'), ('Country_271835', 'Country_449947'), ('Country_628643', 'Country_461742'), ('Luminsia', 'Country_57382'), ('Nalakond', 'Country_614826'), ('Country_271835', 'Country_697428'), ('Marebak', 'Country_699698'), ('Country_271835', 'Country_712875'), ('Syrithania', 'Country_729731'), ('Country_271835', 'Country_746165'), ('Country_895471', 'Country_931736'), ('Country_271835', 'Country_948318'), ('Oceanus', 'Country_950691'), ('Country_895471', 'Country_984533'), ('Country_271835', 'Uzifrica'), ('Country_895471', 'Vesperanda')]

In [25]:
countries_dict=countries.groupby('country')['id'].apply(list).to_dict()
for i in countries_dict.keys():
    countries_dict[i].append(len(countries_dict[i]))  
countries_dict

{'Ariuzima': ['Caracola Azul Limited Liability Company', 1],
 'Arreciviento': ['Joshua Garrett',
  'Joseph Hawkins',
  'Douglas Gordon',
  'Vanessa Chandler',
  4],
 'Brindivaria': ['Ryan Garrett', 1],
 'Country_11605': ['Patrick Cannon', 1],
 'Country_12955': ['Debra Hall', 1],
 'Country_144251': ['Sandra Martinez', 'Laura Joseph', 2],
 'Country_146155': ['Tracie Price', 'David Limited Liability Company', 2],
 'Country_167470': ['Sara Fleming', 1],
 'Country_19028': ['Cynthia Williams', 'Albert Thomas', 'Carmen Mendez', 3],
 'Country_193919': ['Ronald Gray', 1],
 'Country_198078': ['Kelly Brown', 'Keith Webb', 'Angela Navarro', 3],
 'Country_204272': ['Timothy Lopez', 'David Larsen', 2],
 'Country_214033': ['William Rivera', 1],
 'Country_216139': ['Adam Gutierrez', 1],
 'Country_226679': ['Danielle Jensen', 1],
 'Country_230197': ['Samuel Cross', 1],
 'Country_233547': ['Christopher Garrett', 1],
 'Country_242593': ['Danielle Valdez', 1],
 'Country_244549': ['Julie Callahan', 1],
 'Country_245265': ['Erik Johnson', 1],
 'Country_246944': ['Tiffany Stephens', 'Pregolya Delivery Cruise ship', 2],
 'Country_247330': ['Barry Harris', 1],
 'Country_256617': ['Brittany Kane', 1],
 'Country_271835': ['William Bradley',
  'Joseph Griffin',
  'Saltwater Solitude GmbH & Co. KG',
  'Lisa Clay',
  'Eugene Ochoa',
  'Lisa Jimenez',
  'Martha Robbins',
  'Don Hopkins',
  'Joseph Gray',
  'Sean Vasquez',
  'Timothy Reeves',
  'Jamie Knox',
  'Kristin Graham',
  'Alyssa Huffman',
  'Viento Azul Harbor LLC Investment',
  'Alexander Buchanan',
  'Claire Russell',
  'Scott Medina',
  'Jeremy Cordova',
  'Victoria Parks',
  'Bryan Taylor',
  'Anne Anderson',
  'Brian Nelson',
  'Michael Smith',
  'Melanie Miller',
  'Timothy Allen',
  'Victoria Anderson',
  'Natasha Phillips',
  'James Best',
  'Amy Kent',
  'Emily Johnson',
  'Susan Erickson',
  'Debbie Daniel',
  'Brian Williams',
  'Jennifer Price',
  'Kimberly Palmer',
  'Spencer King',
  'Dawn Oconnell',
  'Timothy Cuevas',
  'Joshua Glover',
  'Tara Villegas',
  'Ashley Wiggins',
  'Andrea Hansen',
  'Belgian Scallop Ltd. Liability Co',
  'Ryan Williams',
  'Colleen Everett',
  'Brenda Gonzalez',
  'Clayton Rodgers',
  'Randy Collins',
  'Brandon Berger',
  'Norwegian Shrimp Ltd. Liability Co',
  'Timothy Estrada',
  'Vanessa Avila',
  'Mark Weiss',
  'Jason Davis',
  'Erin Bowen',
  'Kyle Stanton',
  'Mrs. Crystal Reyes',
  'Jonathan Smith',
  'Playa de la Luna Ltd. Corporation',
  'Amy Wilson',
  'Mr. Gregory Brown',
  'Brian Weber',
  'Michael Nicholson',
  'Andrea Peters',
  'Joshua Baker',
  'Alexandria Wilson',
  'Stephanie Garner',
  'Miguel Fisher',
  'Jeremy Norris',
  'Diana Brandt',
  'Brandi Bowen',
  'Taylor Chan',
  'Michele Henry',
  'Jeremiah Delacruz',
  'Elizabeth Savage',
  'Taylor Park',
  'Angela Wheeler',
  'Lisa Branch',
  'Adam Blankenship',
  'Mr. Thomas Johnson DDS',
  'Costa del Mar Oyj Hijiki',
  'Jeffrey Yates',
  'Tyler Guzman',
  'Jammu & Kashmir Ltd Family',
  'James Smith MD',
  'Brian Palmer',
  'Sarah Clark',
  'Matthew Martin',
  'Tyler Brown',
  'Delhi ers AS Holdings',
  'Cape of Good Hope  Oyj',
  'Dale Warner',
  'Teresa Rivera',
  'George Ramirez',
  'Playa del Mar Caviar',
  'Alan Pacheco',
  'Virginia Carter',
  'April James',
  'Wendy Duarte',
  'Alexis Murphy',
  'Eric Gentry',
  'Donna Shepherd',
  'Zambezi Rapids NV Brothers',
  'Gary Scott',
  'Isaiah Hammond',
  'Erica Bailey',
  'Kevin Norton',
  'Gregory Moore',
  'Amy Wise',
  'Hunter Wheeler',
  'Christopher Miller',
  'Senegal Coast Oyj Motorboat',
  'Howard Pierce',
  'Jill Boyd',
  'Robert Carpenter',
  'Susan Porter',
  'Meghan Wolfe',
  'Charles Tran',
  'Playa de Coral GmbH Consultants',
  'Kirk Jackson',
  'Jeffrey Curry',
  'Steven Huynh',
  'Bonnie Perez',
  'Jerry Welch',
  'Judy Johns',
  'Richard Greer',
  'David Hayden',
  'Matthew Delgado',
  'Elizabeth Dean',
  'Daniel Mason',
  'Miss Angel Thomas',
  'Amanda Mitchell',
  'Scott Brown',
  'Thomas Rivas',
  'Holly Taylor',
  'Stephen Lowe',
  'Nicholas Hernandez',
  'Stephanie Robinson',
  'Jerry Montgomery',
  'Parker Jones',
  'Raymond King',
  'Christopher Daniel',
  'Mary Lucas',
  'Morgan Black',
  'Crystal Smith',
  'Christine Jones',
  'Carlos White',
  'Christine Robinson',
  'Robert Adams',
  'Brandon Jackson',
  'Turkish Sword Ltd Export',
  'Jasmine Camacho',
  'Lindsey Palmer',
  'Melissa Spence',
  'Daniel Snyder',
  'Bethany Wright',
  'Willie Hill',
  'Jennifer Meyers',
  'Allison Leonard',
  'Amanda Andrews',
  'Misty Thomas',
  'Tammy Ryan',
  'Marine Mermaids CJSC Marine biology',
  'Terry Murphy',
  'Mary Horton',
  'Dylan Roberts',
  'Kathy Rodriguez',
  'David Weber',
  'Jennifer Simmons',
  'Dylan Moss',
  'Angela Spencer',
  "OceanicOrigin Foods Co and Son's",
  'Ola de la Costa S.A. de C.V.',
  'Margaret Shields',
  'Brian Wolfe',
  'Frank Guzman',
  'Michael Porter',
  'Madison Edwards',
  'xu y Ltd. Corporation',
  'Andrew Gamble',
  'George Morton',
  'Janice Bell',
  'Lisa Foster',
  'Veronica Payne',
  'Ronnie Burns',
  'Lisa Lambert',
  'Kimberly Lara',
  'Sara Jenkins',
  'Danielle Camacho',
  'Mr. Justin Bailey MD',
  'Paula Allen',
  'Christy Fields',
  'Michele Hernandez',
  'Mary Castillo',
  'Jennifer Brown',
  'John Barnes DDS',
  'Anna Turner',
  'Stephanie Quinn',
  'Mary Jenkins',
  'Jennifer Reilly',
  'Donald Thompson',
  'Cynthia Byrd',
  'Christopher Hernandez',
  'Jennifer Frederick',
  'Michael Patton',
  'Kristin Jones',
  'Jenna Barton',
  'Stephen Gutierrez',
  'Jessica Owens',
  'John Hutchinson',
  'Daniel Wood',
  'Robert Lewis',
  'Margaret Nichols',
  'Chris Grant',
  'Angela Orr',
  'Katelyn Gibson',
  'Kayla Reynolds',
  'William Williams',
  'Vicki Owen',
  'Alyssa Mccoy',
  'Scott Wright',
  'John Conley',
  'James Hernandez',
  'Rhonda Johnson',
  'Barbara Mccarty',
  'Christopher Simon',
  'Lauren Jackson DDS',
  'Andrew Miller',
  'Heather Hill',
  'Krystal Lee',
  'Wesley Woods',
  'Marvin White',
  'Philip Black',
  'Laurie Clark',
  'Elijah Gordon',
  'Charles OJSC Marine conservation',
  'Brandy Williams',
  'Viento y Mar BV',
  'Robert Vega',
  'James Sampson',
  'Debra Hebert',
  'John Frederick',
  'Allison Rodgers',
  'OceanFront Foods Co Beach',
  'Julie Parks',
  'Kristi Weeks',
  'Brandi White',
  'Tara Hanson',
  'Wesley Vasquez',
  'Rebecca Adams',
  'Briana Johnson',
  'Mr. Joseph Johnson',
  'Marie Lee',
  'Douglas Gillespie',
  'Jonathan Garner',
  'Amanda Contreras',
  'Bryan Hill',
  'Jo Francis',
  'Stephanie Thompson',
  'Michael Baker',
  'Michael Wagner',
  'Susan Hodges',
  'Jennifer Thompson',
  'Sabrina Zamora',
  'Hannah Chandler',
  'Bruce Bates',
  'Kimberly Lopez',
  'Teresa Jackson',
  'Dr. Michelle Dominguez',
  'Charles Hart',
  'Paul Holloway',
  'Maria Russell',
  'Justin Rodriguez',
  'Carl Lopez',
  'Mar del Norte Ferry',
  'Gabriela Graham',
  'Joseph Newman',
  'Susan Williamson',
  'Lauren Reynolds',
  'James Hall',
  'Amanda Becker',
  'Nicholas Dennis',
  'Cape Verde Islands Oyj',
  'Andre Phillips',
  'Scott Solis',
  'Jonathan Spence',
  'Tanner Smith',
  'Emily Bailey',
  'Ann Flowers',
  'Michael Bullock',
  'Michelle Singh',
  'Tyler Palmer',
  'Chad Nichols',
  'Fin Flair Pic Delivery',
  'Scott Wallace',
  'Anna Johnson',
  'Kathleen Gates',
  'William Atkinson',
  'Lisa Payne',
  'Christine Chaney',
  'Mr. Jose King',
  'Thomas Adams',
  'Kimberly Olson',
  'Gary Butler',
  'Gary Smith',
  'Denise Diaz',
  'Elaine Duncan',
  'Dennis Little',
  'Carrie Elliott',
  'Donna Webb',
  'Tracy Smith',
  'Robert Schaefer',
  'Samuel Stokes',
  'Timothy Hernandez',
  'Meghan Kim',
  'David Nunez MD',
  'Thomas Diaz',
  'Hannah Taylor',
  'Joanna Brown',
  'Monique Rios',
  'Coastal Crusaders Kga Worldwide',
  'Luis Douglas',
  'Seashell Sanctum SRL Transport',
  'Fernando Steele',
  'David Tucker',
  'James Anderson',
  'Kara Sullivan',
  'Trevor Brown',
  'Kimberly Roberts',
  'Ricky Holland',
  'Lydia Day',
  'Nichole Kline',
  'Ryan Rich',
  'Shawna Welch',
  'Zachary Jordan',
  'Frederick Harris',
  'Natalie Gill',
  'Brian Stevens',
  'Robin Fernandez',
  'Diana Kelley',
  'Angela Wright',
  'Miranda Small',
  'Stacey Ortega',
  'Paul Parker',
  'Jessica Gibson',
  'Gregory Carter',
  'Martin Bryant',
  'Bruce Spears',
  'Sherry Richmond',
  'Daniel Shaffer',
  'Sierra Vincent',
  'Margaret Ward',
  'Joshua Hammond',
  'Kristi Ryan',
  'Tyler Blanchard',
  'Shawn Cook',
  'Susan Montoya',
  'William James',
  'Ricardo Gomez',
  'Amanda Santana',
  'Dana Macias',
  'Helen Chase',
  'Candace Burnett',
  'Gary Dunn',
  'Brittany Frey',
  'Brett Williams',
  'Todd Lane',
  'Alicia Lee',
  'Linda Holden',
  'Donna Romero',
  'Amanda Garcia',
  'Olivia Bradshaw',
  'Bradley Murphy',
  'Madison Franklin',
  'Mary Montoya',
  'Kari Zavala',
  'Olivia Bailey',
  'Tyler Flores',
  'Madeline Collins',
  'Mrs. Jessica Meyer',
  'Darren Torres',
  'Brittany Brewer',
  'Daniel Roberts',
  'Tyler Turner',
  'Danielle Perry',
  'Paula King',
  'Laurie Mclaughlin',
  'Melinda Williams',
  'Anna Thomas MD',
  'Ms. Brittany Murray',
  'Sara Waller',
  'Daniel Middleton',
  'Stacey Ortiz',
  'Loretta Harrington',
  'Hannah Brown',
  'Bobby Walker',
  'Khundu Ltd. Liability Co',
  'Benjamin Barton',
  'Stephanie Brown',
  'Mrs. Katrina Williams',
  'Anthony Gomez',
  'Debbie Kelley',
  'Eric Hanson',
  'Krystal Foster',
  'Roger Smith',
  'Blake Smith',
  'Stacy Castillo',
  'Matthew Mack',
  'David Wilson',
  'Zachary Blackburn',
  'James Berry',
  'Robert Goodman',
  'Mary Durham',
  'Anna Kelly',
  'Clifford Sherman',
  'Carol Wade',
  'Makayla Anderson',
  'Kevin Moreno',
  'Brittany Ryan',
  'Jeanette Kim',
  'Joshua Roberts',
  'Denise Moore',
  'Lisa Castaneda',
  'Christina Abbott',
  'Michelle Campbell',
  'Lauren Garner',
  'Jordan Mcbride',
  'Madhya Pradesh Market Pic Transportation',
  'Adam Cook',
  'James Carr',
  'Daniel Burton',
  'Jerry Miller',
  'Dakota Flores',
  'Kari Padilla',
  'Levi Jones',
  'Adriana Rhodes',
  'Debra Davis',
  'Jennifer Washington',
  'Peter Bush',
  'Maria Horton',
  'Maurice Figueroa',
  'Heather King',
  'Billy Robinson',
  'Austin Miller',
  'Ariel Thornton',
  'George Vance',
  'Jason Fleming',
  'Cynthia Huff',
  'Angela Lee',
  'Patricia Reyes',
  'Kristin Dawson',
  'Brandon Hughes',
  'Bethany Lopez',
  'Tamil Nadu Ltd. Liability Co Express',
  'Elizabeth Anderson',
  'Kenneth Cain',
  'Carla Perkins',
  'Lindsey Conway',
  'Ryan Perez',
  'Kariba Dam  Corporation Nautical',
  'Benton Ltd. Liability Co',
  'Pez Dorado BV Logistics',
  'Traci Shields',
  'Daniel Henderson',
  'Joseph Smith',
  'Dr. Gregory Rice',
  'Breanna Welch DDS',
  'Jared Martinez',
  'Darin Torres',
  'Tracy Rogers',
  'Kevin Morris',
  'William Murray',
  'Punjab Market Marine sanctuary ship',
  'Robert Edwards',
  'Jennifer Parsons',
  'Denise Vance',
  'Craig Santiago',
  'Jessica Costa',
  'Austin Welch',
  'Malawi Rift  Holdings Navigation',
  'Baha de Coral OJSC Marine',
  'Michael Frederick',
  'John Riley',
  'Andrew Graves',
  'Mathew Taylor',
  'Daniel Obrien',
  'Jeffrey Hall',
  'Michael Vazquez',
  'Robert Garcia',
  'Brett Lopez',
  'Heather Porter',
  'Kevin Liu',
  'Katrina Nguyen',
  'James Horton',
  'Brian Hansen',
  'Rajasthan GmbH & Co. KG',
  'Alyssa Gonzalez',
  'Michelle Jackson',
  'James Scott',
  'Krista Harris',
  'William Gray',
  'Michael Reed',
  'Katherine Chavez',
  'Stephen Marks',
  'James Stewart',
  'Anthony Larson',
  'Laura Hughes',
  'Amanda Dean',
  'Kelsey Tucker',
  'Martin Bell',
  'Michelle Long',
  'Jennifer Barber',
  'Ryan Hudson',
  'John Avila',
  'Simien Mountains  Company Delivery',
  'William Kim',
  'Jeffrey Strong',
  'Susan Williams',
  'Margaret Miller',
  'Angela Chang',
  'Daniel Chang',
  'Victoria Gonzalez',
  'Jennifer Johnson',
  'Jeffrey Mills',
  'Jason Brown',
  'Jeff Sullivan',
  'Mr. Eric Logan',
  'William Phillips',
  'Heather Holmes',
  'Elizabeth Jones',
  'Christian Quinn',
  'Kathryn Gomez',
  'Stephanie Wiley',
  'Ryan Lewis',
  'Christina Chavez',
  'Jessica Figueroa DDS',
  'Rebecca Taylor',
  'Dr. Daniel Massey',
  'Brooke Hamilton',
  'Mrs. Katherine Clark',
  'Kathleen Benitez',
  'Seth Peters',
  'Kevin Butler',
  'Andrew Torres',
  'su y CJSC Canal',
  'Cheryl Conway',
  'Lauren Smith',
  'Darrell Lopez',
  'Philip Murphy',
  'April Perry',
  'Eric Rogers',
  'Kevin Burnett',
  'Rebecca Walker',
  'Gerald Washington',
  'Jessica Kelly',
  'Annette Barrett',
  'Olivia Garner',
  'Scott Johnson',
  'Melissa Bates',
  'Carlos Rose',
  'Amber Green',
  'Rodney Compton',
  'su y Worldwide Shark',
  'Mary Clements',
  'Sylvia Johnson',
  'Charles Fitzgerald',
  'Seth Kelley',
  'Wanda Collins',
  'Miguel Harrison',
  'Zachary Sellers',
  'Tyler Anderson',
  'Paul Johnson',
  'Dr. Christina Jensen DDS',
  'Tshikele Ltd. Liability Co',
  'Lindsey Barr',
  'Diane Hughes',
  'Jason Hughes',
  'Amanda Rogers',
  'Caleb Webster',
  'Matthew Fletcher',
  'Daniel Mcclain',
  'Michele Taylor',
  'Lisa Gomez',
  'Sarah Garcia',
  'Jessica James',
  'Jesse Thompson',
  'Evelyn Pacheco',
  'Brianna Gregory',
  'Brooke Collins',
  'Lori Weeks',
  'Karen Burns',
  'Randall Newman',
  'Scott Edwards',
  'Gina Armstrong DDS',
  'Walter Graham',
  'Gabrielle Wade',
  'Austin Simpson',
  'Sarah Hays',
  'Richard Fleming',
  'Melissa Gomez',
  'Daniel Frank',
  'Terry Mcknight',
  'David Nielsen',
  'John Obrien',
  'Michael Hansen',
  'Grace Perez',
  'Travis Rivera',
  'Larry Morrow',
  'Tammy Martin',
  'Robert Shaffer',
  'Gary Palmer',
  'Jeremy Woodard',
  'Paul Wiley',
  'Miranda Long',
  'Michelle Kelley',
  'Marvin Everett',
  'Matthew Sutton',
  'Brandon Thomas',
  'Joseph Williams',
  'Scott Anderson',
  'Brian Brown',
  'Kristen Martin',
  'Janet Floyd',
  'Richard Anderson',
  'Angela Hernandez',
  'Randy Logan',
  'Elizabeth Martin',
  'Aaron Bennett',
  'Kathleen Rowe',
  'Connor Ray',
  'Brandon Calderon',
  'Congo Rapids  Marine sanctuary GmbH & Co. KG Marine sanctuary',
  'Veronica Lowe',
  'Brent Young',
  'Sierra Henderson',
  'Roger Jordan',
  'Matthew Everett',
  'Richard Adams',
  'Angel Burnett',
  'Jose Smith',
  'Emily Norton',
  'Michelle Aguilar',
  'Danish Lobster Limited Liability Company Brothers',
  'John Hernandez',
  'Samantha Jackson',
  'Chelsey Woodard',
  'Michael Alvarez',
  'Brian Marsh',
  'Richard Smith',
  'Jennifer Rivera',
  'Elizabeth Shah',
  'Gregory Williams',
  'William Daniel',
  'Terry Conley',
  'Jeremy Jarvis',
  'Ashley Johnson',
  "Greek Sea Bream and Son's",
  'Shane Hahn',
  'Jeffrey Reed',
  'Timothy Austin',
  'Matthew Flores',
  'Tammy Garcia',
  'James Knight',
  'Lachlan Enterprises Coral Reef',
  'Brian Dennis',
  'Frederick Kent',
  'Candice Brown',
  'Nicholas Nguyen',
  'Vincent Cummings',
  'Tiffany Leonard',
  'Laura Williams',
  'Sean George',
  'James Thomas',
  'Kristi Miller',
  'Gambia River  GmbH & Co. KG and',
  'SeaSelect Foods Corp Dry dock',
  'Michael Flores',
  'Deborah Bell',
  'Jonathan Coleman',
  'Luis Rogers',
  'Jason Garcia',
  'Rachel Arnold',
  'Sharon Williams',
  'Donald Thomas',
  'Rebecca Anderson',
  'Nathan Murray',
  'Thomas Johnson',
  'Jonathan Moody',
  'Alison Nash',
  'Miranda Smith',
  'Jennifer Wilson MD',
  'Nicholas Torres',
  'Christopher Benitez',
  'John Martin',
  'David Romero',
  'Eugene Martin',
  'Emma Jones',
  'Cassandra Stanley',
  'Tyler Jones',
  'Colton Olson',
  'Tamara Tyler',
  'Henry Lambert',
  'Elizabeth Armstrong',
  'Melissa Brock',
  'Sudd Swamp  Wave AS Freight ',
  'Donna Green',
  'Dean Reyes',
  'Thomas Watkins',
  'Ancla del Mar Kga',
  'Joshua Park',
  'Sergio Ross',
  'Patricia Hunter',
  'Dale Chandler',
  'Marvin Evans',
  'Jack Bell',
  'Robert Rodriguez',
  'Leslie Williams',
  'Jose Parker',
  'James Limited Liability Company Logistics',
  'Andrew Harrison',
  'Eddie Alexander',
  'David Schwartz',
  'David Santiago',
  'Hannah Little',
  'Scott Dougherty',
  'Juan Mckinney',
  'Michelle Herring',
  'Bryan King',
  'Daniel Vasquez',
  'Kevin Daniel',
  'Lucas Williamson',
  'Daniel Butler',
  'Robert Chang',
  'Manuel Hess',
  'Brandon Stone',
  'Seth Benjamin',
  'Leslie Wood',
  'Donna Davis',
  'Amanda Jenkins',
  'Christopher Moore',
  'Sarah Williams',
  'David Seabed Inc Consulting',
  'Deborah Carson',
  'Elizabeth Mccarty',
  'Gregory Bowers',
  'Nicole Marshall',
  'Gina Knox',
  'Tonya Frazier',
  'Charles Duke',
  'Dennis Payne',
  'Ashley Boyer',
  'Darin Taylor',
  'Larry Cisneros',
  'Teresa Hansen',
  'Ethan Walsh',
  'Michael Evans',
  'Alexandra Jackson',
  'Lauren Sanchez',
  'Crystal Hunter',
  'Christopher Berry',
  'James Patterson',
  'Jon Johnson',
  'Andrea White',
  'Emily Smith',
  'Megan Gonzales',
  'Kenneth Warren',
  'Edward Winters',
  'Emily Stevens',
  'Gabrielle Wright',
  'Erika Carter',
  'James Johnson',
  'Brandi Johnson',
  'John Campbell',
  'Diane Forbes',
  'Dawn Robinson',
  'Kimberly Williams',
  'John Murray',
  'Nathaniel Shah',
  'Stephen Peterson',
  'Eric Roman',
  'Playa del Cielo  Marine',
  'Rachel Campbell',
  'Gregory Marsh',
  'Sarah Allen',
  'Brittney Rice',
  'Ashley Long',
  'Jessica Hernandez',
  'Diane Young',
  'Traci Elliott',
  'Lucas Adams',
  'Rebecca Jordan',
  'Colin Hunter',
  'William Lopez',
  'Warren Schwartz',
  'Amy Mcclure',
  'Jessica Mullins',
  'Randall Martinez',
  'Martin Jones',
  'Aaron Cruz',
  'Michael Wright',
  'Chad Ruiz',
  'Brett Lee',
  'Noah Mitchell',
  'Ronnie Gates',
  'Matthew Anderson',
  'Portuguese Sardines GmbH & Co. KG Line',
  'Lake Nyasa Ltd. Corporation',
  'Joshua Huang',
  'William Taylor',
  'Hannah Ray',
  'Charlotte Lopez',
  'Mark Scott',
  'Nicholas King',
  'James Andrews',
  'Joshua Wright',
  'Mary Harrington',
  'Brett Moss',
  'Kagera River  GmbH & Co. KG Delivery',
  'Holly Donaldson',
  'Dana Montes',
  'Bryce Chavez',
  'Brittany Rivers',
  'Michelle Evans',
  'James Garcia',
  'Kendra Owens',
  'Terri Rodriguez',
  'Scania Seafaring SRL Express',
  'Estrella del Sol LLC',
  'Kenneth Fox',
  'Rebecca Coleman',
  'Margaret Hodges',
  'Kristin Johnston',
  'Jason Neal',
  'Diana Dawson',
  'Danish Lobster Ltd. Liability Co',
  'Lake Manyara  SRL Brothers',
  'Sharon Townsend',
  'Travis Sparks',
  'Deborah Porter DDS',
  'Amanda Clayton',
  'Mar de Estrellas Oyj Carriers',
  'Erica Parks',
  'Brenda Cox',
  'Suzanne Reed',
  'Cody Lewis',
  'Chris Booth',
  'Lisa Henderson',
  'Karen Delgado',
  'Jennifer Andrade',
  'Lori Cummings',
  'Damon Nelson',
  'Laura Jimenez',
  'Susan Mendoza',
  'Alexis Smith',
  'Laura Smith',
  'Samantha Manning',
  'Hannah Walter',
  'Kelly Mccarthy',
  'Frederick Taylor',
  'Ray Howard',
  'Joshua Landry',
  'Joy Anderson',
  'David Frederick',
  'Curtis Grant',
  'Lindsay Bennett',
  'Laura Ballard',
  'Sarah Sandoval',
  'Raymond Howell',
  'Jason Huff',
  870],
 'Country_283574': ['Dry Creek Marine sanctuary', 1],
 'Country_286580': ['AquaFresh Foods CJSC -', 1],
 'Country_322527': ['Diao yu bi sai Tidal BV Export', 1],
 'Country_323509': ['Nutica del Sol AG', 1],
 'Country_338740': ['Estrella de Mar Ltd. Liability Co', 1],
 'Country_338923': ['Breanna Ward', 1],
 'Country_342065': ['The Salty Pearl River S.p.A. Export', 1],
 'Country_34878': ['Angela Powers', 1],
 'Country_358951': ['Monica Ramirez', 1],
 'Country_415128': ['Joseph Johnson', 1],
 'Country_437825': ['Jeremy Jackson', 1],
 'Country_443882': ['Heidi Kline', 1],
 'Country_449947': ['Dawn Sanchez', 1],
 'Country_459036': ['Kristin Davidson', 'Mario Richardson', 2],
 'Country_461742': ['Michael Brock', 1],
 'Country_462996': ['Melinda Bentley', 1],
 'Country_470077': ['Christopher Fields', 1],
 'Country_483478': ['Courtney Evans', 1],
 'Country_492608': ['Dutch Herring Inc Transportation', 1],
 'Country_532332': ['Danny Walker', 'Paul Hoover', 2],
 'Country_54147': ['Michael Johnson', 1],
 'Country_542476': ['Thomas Morales', 1],
 'Country_552976': ['Ms. Jenna Gonzalez MD', 'Scott Mays', 2],

### 往来关系

In [26]:
# 去掉family relationship看
merged_3ship=merged_info[merged_info['link_type']!='family_relationship']
exp_country_links=merged_3ship.groupby('source_country')
print(len(exp_country_links))
source_flow_3={}
for i in exp_country_links:
    exp_cty,exp_df=i
    source_flow_3[exp_cty]=(exp_df['target_country'].value_counts().to_dict())
    source_flow_3[exp_cty]['country_num']=len(nodes_df[nodes_df['country']==exp_cty])
type(source_flow_3['Ariuzima'])

85

dict

In [27]:
avg_between_coutries=[]
sus_country=[]
sum_all=0
for i in source_flow_3.keys():
    src_cty=source_flow_3[i]
    sum_cty=0
    flag=0
   
    other_countries=0
    for j in src_cty:
        tgt_cty=source_flow_3[i][j]
        # countrynum都在最后反正
        if j=='country_num':
            break
        if i!=j:
            sum_cty+=tgt_cty
        #如果有和自己国家往来的情况: 
        else:
            flag=1
    # 因为有一个country_num，所以要减去1
    if len(src_cty)!=1:
        other_countries=len(src_cty)-1
    # 只和unknown，就只有country num，就是0
    else:
        other_countries=0
    # 不算自己国家内部的交易数量
    if flag==1:
        other_countries-=1
    # 如果只和自己国家交易：
    if other_countries==0:
        sum_cty=0
    else:
        sum_cty=sum_cty/other_countries
    avg_between_coutries.append((i,sum_cty))
    sum_all+=sum_cty
sum_all/=len(source_flow_3.keys())
print(avg_between_coutries)
# 把0的去掉
no_zero=[i for i in avg_between_coutries if i[1]!=0]
mean_all=np.mean([i[1] for i in no_zero])
print(mean_all)
larger=np.where(np.array([i[1] for i in avg_between_coutries])>=mean_all)
print(sum_all)
for j in larger[0]:
    # print(j)
    # print(avg_between_coutries[int(j)])
    # 和每个国家的平均来往数量大于所有的平均，并且本身属于该国的成员很少
    if (avg_between_coutries[int(j)][1] > sum_all) and (len(countries_dict[avg_between_coutries[j][0]])<10):
        print(avg_between_coutries[int(j)])
        sus_country.append(avg_between_coutries[int(j)])

[('Ariuzima', 0), ('Arreciviento', 2.0), ('Brindivaria', 0), ('Country_11605', 0), ('Country_12955', 0), ('Country_144251', 0), ('Country_146155', 0), ('Country_167470', 1.0), ('Country_19028', 0), ('Country_193919', 0), ('Country_198078', 0), ('Country_204272', 1.0), ('Country_214033', 0), ('Country_226679', 0), ('Country_230197', 0), ('Country_242593', 0), ('Country_246944', 1.0), ('Country_271835', 8.333333333333334), ('Country_283574', 1.0), ('Country_322527', 1.0), ('Country_323509', 0), ('Country_342065', 1.5), ('Country_34878', 0), ('Country_358951', 0), ('Country_415128', 0), ('Country_443882', 0), ('Country_459036', 1.0), ('Country_461742', 1.0), ('Country_470077', 0), ('Country_483478', 0), ('Country_542476', 0), ('Country_615819', 0), ('Country_628643', 6.2727272727272725), ('Country_663412', 0), ('Country_670336', 0), ('Country_675160', 1.0), ('Country_697428', 0), ('Country_709784', 0), ('Country_712875', 0), ('Country_746165', 0), ('Country_760479', 1.0), ('Country_766259', 0), ('Country_789037', 1.0), ('Country_789455', 0), ('Country_821432', 0), ('Country_874023', 0), ('Country_887466', 0), ('Country_895471', 1.0), ('Country_907876', 0), ('Country_913963', 1.0), ('Country_925382', 0), ('Country_928409', 0), ('Country_945731', 0), ('Country_948318', 0), ('Country_950691', 0), ('Country_980042', 0), ('Country_982684', 0), ('Country_990614', 1.0), ('Helixia', 0), ('Helvoris', 0), ('Islavaria', 0), ('Ivarisia', 0), ('Kethanor', 0), ('Luminsia', 1.0), ('Marebak', 1.25), ('Mawazam', 0), ('Merigrad', 0), ('Nalakond', 1.3333333333333333), ('Oceanterra', 1.0), ('Oceanus', 2.625), ('Orvietea', 0), ('Osterivaria', 1.0), ('Polarisdom', 0), ('Puerto del Mar', 1.0), ('Quandarix', 0), ('Quandoria', 0), ('Rio Isla', 3.8181818181818183), ('Riodelsol', 2.0), ('Syrithania', 0), ('Uzifrica', 1.0), ('Uzilandor', 0), ('Uzimoria', 0), ('Vesperanda', 0), ('Vesperlandia', 7.428571428571429), ('Zambalantis', 1.0)]
1.9159016271085236
0.6536605551311435
('Arreciviento', 2.0)
('Country_628643', 6.2727272727272725)
('Rio Isla', 3.8181818181818183)
('Riodelsol', 2.0)
('Vesperlandia', 7.428571428571429)

In [28]:
nodes_df['country'].value_counts()

country
Country_271835    870
Oceanus            42
Marebak            14
Nalakond            6
Country_789455      6
                 ...
Country_283574      1
Luminsia            1
Country_709784      1
Wysterion           1
Country_286580      1
Name: count, Length: 117, dtype: int64

In [29]:
# 看一下节点，但是因为是以整个conutry为单位看的所以单个的关系可能并不显眼。并且mean值本身也不大。然后可以看一眼country内部的path？
sus_country_nodes=nodes_df[nodes_df['country'].isin([i[0] for i in sus_country])]
# sus_country_nodes=sus_country_nodes[sus_country_nodes['country']!='Country_271835']
sus_country_nodes

         type dataset         country                          id
7     company     MC1        Rio Isla  Faroe Islands Shrimp Shark
181    person     MC1       Riodelsol           Nathaniel Jimenez
253   company     MC1  Country_628643                png xi  Line
271   company     MC1        Rio Isla         Playa del Cielo Kga
377   company     MC1    Vesperlandia           Mar del Oeste Pic
775    person     MC1       Riodelsol              Ronald Mahoney
1050   person     MC1    Arreciviento              Joshua Garrett
2160   person     MC1        Rio Isla               Daniel Pruitt
2302   person     MC1    Arreciviento              Joseph Hawkins
2325   person     MC1       Riodelsol                  Luis Jones
2565   person     MC1    Arreciviento              Douglas Gordon
2593   person     MC1    Arreciviento            Vanessa Chandler
2762   person     MC1        Rio Isla                   Tom Bauer

In [30]:
# 这些节点有可能是IUU转移的目标（不管是主动还是被动）,看一下边里面除家庭的关系
merged_sus_info=merged_3ship[merged_3ship['source_country'].isin([i[1][2] for i in sus_country_nodes.iterrows()]) ]
merged_sus_info

,Unnamed: 0,link_type,weight,dataset_x,source,target,key,source_type,source_country,target_type,target_country
103,103,partnership,0.880913,MC1,Faroe Islands Shrimp Shark,2591586,0,company,Rio Isla,organization,NaN
104,104,membership,0.896822,MC1,Faroe Islands Shrimp Shark,185040354,0,company,Rio Isla,organization,NaN
106,106,membership,0.917937,MC1,Faroe Islands Shrimp Shark,650512,0,company,Rio Isla,organization,NaN
107,107,partnership,0.915767,MC1,Faroe Islands Shrimp Shark,6406040,0,company,Rio Isla,political_organization,NaN
108,108,membership,0.932007,MC1,Faroe Islands Shrimp Shark,290834957,0,company,Rio Isla,organization,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8822,8822,membership,0.903453,MC1,Douglas Gordon,558,0,person,Arreciviento,organization,NaN
8823,8823,membership,0.885251,MC1,Douglas Gordon,Faroe Islands Shrimp Shark,0,person,Arreciviento,company,Rio Isla
8871,8871,membership,0.905137,MC1,Vanessa Chandler,558,0,person,Arreciviento,organization,NaN
8872,8872,membership,0.887615,MC1,Vanessa Chandler,Faroe Islands Shrimp Shark,0,person,Arreciviento,company,Rio Isla
9110,9110,partnership,0.876154,MC1,Tom Bauer,903311212,0,person,Rio Isla,organization,NaN

### 加入连通分量看一下

意思是看强连通分量？但是连通分量里的国家组成会很复杂吧?

In [31]:
with open('../../../技术储备/Tarjan/strong connected component.json', "r", encoding='utf-8') as r:
    scc = json.loads(r.read())
scc=np.array(scc)
scc.squeeze()
scc.shape

(22,)

In [32]:
scc=sorted(scc,key=lambda x:x['length'],reverse=True)
for idx,i in enumerate(scc):
    print(i['length'])
    if idx>4:
        break

874
7
6
4
3
3

In [34]:
# 看一下最大的强连通分量里的国家组成
stronggest=scc[0]
stronggest_nodes_df=nodes_df[nodes_df['id'].isin(stronggest['component'])]
stronggest_nodes_df['country'].value_counts()

country
Country_271835     151
Oceanus             14
Marebak             11
Country_789455       6
Arreciviento         4
Nalakond             3
Rio Isla             3
Country_907876       3
Oceanterra           3
Country_895471       3
Country_198078       3
Syrithania           3
Uzilandor            2
Zambalantis          2
Country_144251       2
Country_990614       2
Quandarix            1
Country_358951       1
Country_342065       1
Country_615819       1
Kethanor             1
Country_167470       1
Country_470077       1
Country_950691       1
Country_821432       1
Country_697428       1
Country_925382       1
Polarisdom           1
Riodelsol            1
Country_746165       1
Country_230197       1
Country_214033       1
Country_982684       1
Country_11605        1
Country_323509       1
Country_242593       1
Country_913963       1
Helvoris             1
Vesperanda           1
Vesperand's Bay      1
Country_628643       1
Country_338740       1
Vesperlandia         1
Uzimoria             1
Country_874023       1
Country_34878        1
Country_459036       1
Country_461742       1
Country_542476       1
Country_887466       1
Osterivaria          1
Country_789037       1
Country_663412       1
Country_948318       1
Uzifrica             1
Brindivaria          1
Country_729731       1
Country_286580       1
Name: count, dtype: int64

In [37]:
for i in sus_country:
    print(i[0],i[0] in stronggest['component'])

Arreciviento False
Country_628643 False
Rio Isla False
Riodelsol False
Vesperlandia False

## 把所有国家间的关系整理成node和link

In [ ]:
network = {
    "directed": True,
    "multigraph": True,
    "graph": {},
    "nodes": [],
    "links": []
}